.titleText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
	color: #000000;
}
.introText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #333333;
}
.gviewer_form_label {
	font-size: small;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
}
table .gviewerTable {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCCCCC;
}
.credits {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #999999;
	text-align: center;
	margin-top: 5px;
}
.gviewer_section_row {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	color: #333333;
	background-color: #CCCCCC;
	border: thin groove #003366;
}
.gviewer_form_sublabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #333333;
}
