.infobox {
  cursor: pointer;
}

.bootstrap .popover {
  max-width: 300px;
}

.popover .btn-genelist-gene-select.selected path {
    stroke: black;
    stroke-width: 10;
  }

.popover  {
  .btn-genelist-gene-select {

    svg {
      border: none;
      pointer-events: none;
    }

    path {
      stroke: black;
      stroke-width: 0;
    }

  }
}
