@color_blue: #1171a3;

.style-test {
  transform-ordigin: center bottom;
  color: @color_blue;
  height: 200px;
}

svg {
  background-color:none;
}

.drawing_outline{
    fill:#fafafa;
    stroke: #ccc;
    stroke-width: 0.5;
}

.drawing_margin {
    fill:none;
    stroke: #000;
    stroke-width: 0.5;
    vector-effect: non-scaling-stroke;
}

.mapview {
  cursor: grab;
}

.mapview.dragging {
  cursor: grabbing;
}

use.network-btn {
  fill: #CCC;
  color: #CCC;
  stroke:#CCC;
  cursor: not-allowed;
}

use.network-btn.enabled {
  fill: #252525;
  color: #A1C057;
  stroke:#252525;
  cursor: pointer;
}

use.network-btn.enabled:hover {
  fill: #252525;
  color: #7FCBE5;
  stroke:#252525;
  cursor: pointer;
}

// svg path {
//   fill: inherit;
// }
//
ellipse {
  stroke: inherit;
}



#network {}

#asdf {
  ellipse {
    fill: white;
    stroke-width: 2px;
    stroke: #ccc
  }
  path {
    fill: #ccc;
  }
}
