@color_blue: #1171a3;

.lorem-ipsum {
  color: #eceadf;
}

.style-test {
  transform-ordigin: center bottom;
  color: @color_blue;
  height: 200px;
}

svg {
  background-color:none;
}

.drawing_outline{
    fill:#fefefe;
    stroke: #ccc;
    stroke-width: 0.5;
}

.drawing_margin {
    fill:none;
    stroke: #000;
    stroke-width: 0.5;
    vector-effect: non-scaling-stroke;
}

.mapview {
  cursor: grab;
}

.mapview.dragging {
  cursor: grabbing;
}

.menubtn {
  height: 36px;
  width: 36px;
  display: inline-block;
  cursor: pointer;
}

.info-btn {
  background: url(../img/information.png) 0 0 no-repeat;
  .menubtn;
}
.info-btn:hover {
  background: url(../img/information_hover.png) 0 0 no-repeat;
}

.fit-btn {
  background: url(../img/fit_to_size.png) 0 0 no-repeat;
  .menubtn;
}
.fit-btn:hover {
  background: url(../img/fit_to_size_hover.png) 0 0 no-repeat;
}

.fit-btn.disabled {
  background: url(../img/fit_to_size_disabled.png) 0 0 no-repeat;
  pointer: default;
}

.network-btn {
  background: url(../img/graph.png) 0 0 no-repeat;
  .menubtn;
}
.network-btn:hover {
  background: url(../img/graph_hover.png) 0 0 no-repeat;
}

.network-btn.disabled {
  background: url(../img/graph_disabled.png) 0 0 no-repeat;
  cursor: default;
}

.tag-btn {
  .menubtn;
}

.tag-btn.auto-label {
  background: url(../img/tag_auto.png) 0 0 no-repeat;
}
.tag-btn.show-label {
  background: url(../img/tag_show.png) 0 0 no-repeat;
}
.tag-btn.hide-label {
  background: url(../img/tag_hide.png) 0 0 no-repeat;
}
.tag-btn.manual-label {
  background: url(../img/tag_manual.png) 0 0 no-repeat;
}

.tag-btn.auto-label:hover {
  background: url(../img/tag_auto_hover.png) 0 0 no-repeat;
}
.tag-btn.show-label:hover {
  background: url(../img/tag_show_hover.png) 0 0 no-repeat;
}
.tag-btn.hide-label:hover {
  background: url(../img/tag_hide_hover.png) 0 0 no-repeat;
}
.tag-btn.manual-label:hover {
  background: url(../img/tag_manual_hover.png) 0 0 no-repeat;
}

.qtl-btn {
  .menubtn;
 align: middle;
}

.qtl-btn {
  background: url(../img/fence.png) 0 0 no-repeat;
}
.qtl-btn:hover {
  background: url(../img/fence_hover.png) 0 0 no-repeat;
}

.btn-infobox-label {
  .menubtn;
}

.btn-infobox-label.show-label {
  background: url(../img/tag_show.png) 0 0 no-repeat;
}
.btn-infobox-label.hide-label {
  background: url(../img/tag_hide.png) 0 0 no-repeat;
}

.reset-btn {
  background: url( ../img/reset_selection.png) 0 0 no-repeat;
  .menubtn
}

.reset-btn:hover {
  background: url( ../img/reset_selection_hover.png) 0 0 no-repeat;
}

.export-btn {
  background: url( ../img/save.png) 0 0 no-repeat;
  .menubtn
}

.export-btn:hover {
  background: url( ../img/save_hover.png) 0 0 no-repeat;
}

.export-all-btn {
  background: url( ../img/save_all.png) 0 0 no-repeat;
  .menubtn
}

.export-all-btn:hover {
  background: url( ../img/save_all_hover.png) 0 0 no-repeat;
}

.btn-genelist-gene-select {
  display: inline-block;
  cursor: pointer;
}

.menu-dropdown {
  display: inline-block;
  vertical-align: top;
}

.nperrow-spinner {
  display: inline-block;

  span {
    line-height: 34px;
    height: 34px;
    vertical-align: middle;
    display: inline-block;
  }
}
