/* 
    Last Modified on : 27-Mar-2017
    Author     : Ajit Singh
    Description: CSS for KnetMaps
*/

#knet-maps {
    /*width: 90%;*/
    height: 90%;
    margin-left: 20px;
    /*border: 1px dashed grey;*/
}

/*
 * maximise Overlay/ full screen
 */
 /*#knet-maps*/
 .full_screen {
  position: fixed; 
  width: 90%; /*90vw;*/ /*900px;*/
  height: 90%; /*550px;*/
  top: 5%; 
  left: 5vw; 
  margin-left: 0px; /*20px;*/
  margin-top: 0px;
  border-style : solid;
  border-color : gray;
  border-width : 5px;
  border-radius : /*15*/5px;
  /*padding : 30px;*/
  background-color: white;
  box-sizing : border-box;
  z-index: 2; 
 }

 #knetmaps-menu {
  margin-top: 5px;
  margin-bottom: 5px;
}

#knetmaps-menu input#maximizeOverlay.max.unhover { border: none; width:36px; height:36px; background:url("../img/maximizeOverlay.png") no-repeat; }
#knetmaps-menu input#maximizeOverlay.min.unhover { border: none; width:36px; height:36px; background:url("../img/minimizeOverlay.png") no-repeat; }
#knetmaps-menu input#showAll.unhover { border: none; width:36px; height:36px; background:url("../img/showAll.png") no-repeat; }
#knetmaps-menu input#relayoutNetwork.unhover { border: none; width:36px; height:36px; background:url("../img/relayoutNetwork.png") no-repeat; }
#knetmaps-menu input#openItemInfoBtn.unhover { border: none; width:36px; height:36px; background:url("../img/openItemInfoBtn.png") no-repeat; }
#knetmaps-menu input#resetNetwork.unhover { border: none; width:36px; height:36px; background:url("../img/resetNetwork.png") no-repeat; }
/* #knetmaps-menu input#savePNG.unhover { border: none; width:36px; height:36px; background:url("../img/savePNG.png") no-repeat; }
#knetmaps-menu input#saveJSON.unhover { border: none; width:36px; height:36px; background:url("../img/saveJSON.png") no-repeat; } */
#knetmaps-menu input#helpURL.unhover { border: none; width:36px; height:36px; background:url("../img/help.png") no-repeat; }
/* #knetmaps-menu input#openJSON.unhover { border: none; width:36px; height:36px; background:url("../img/openJSON.png") no-repeat; } */
input#btnCloseItemInfoPane { border: none; width:22px; height:22px; background:url("../img/close-icon.png") no-repeat; }

#knetmaps-menu input#maximizeOverlay.max.hover { border: none; width:36px; height:36px; background:url("../img/maximizeOverlay_hover.png") no-repeat; }
#knetmaps-menu input#maximizeOverlay.min.hover { border: none; width:36px; height:36px; background:url("../img/minimizeOverlay_hover.png") no-repeat; }
#knetmaps-menu input#showAll.hover { border: none; width:36px; height:36px; background:url("../img/showAll_hover.png") no-repeat; }
#knetmaps-menu input#relayoutNetwork.hover { border: none; width:36px; height:36px; background:url("../img/relayoutNetwork_hover.png") no-repeat; }
#knetmaps-menu input#openItemInfoBtn.hover { border: none; width:36px; height:36px; background:url("../img/openItemInfoBtn_hover.png") no-repeat; }
#knetmaps-menu input#resetNetwork.hover { border: none; width:36px; height:36px; background:url("../img/resetNetwork_hover.png") no-repeat; }
/* #knetmaps-menu input#savePNG.hover { border: none; width:36px; height:36px; background:url("../img/savePNG_hover.png") no-repeat; }
#knetmaps-menu input#saveJSON.hover { border: none; width:36px; height:36px; background:url("../img/saveJSON_hover.png") no-repeat; } */
#knetmaps-menu input#helpURL.hover { border: none; width:36px; height:36px; background:url("../img/help_hover.png") no-repeat; }
/* #knetmaps-menu input#openJSON.hover { border: none; width:36px; height:36px; background:url("../img/openJSON_hover.png") no-repeat; } */
input.knetSynonym { border: none; width:22px; height:22px; background:url("../img/labelEye.png") }

input.knetCon_Biological_Process { border: none; width:22px; height:22px; background:url("../img/Biological_Process.png") }
input.knetCon_Cellular_Component { border: none; width:22px; height:22px; background:url("../img/Cellular_Component.png") }
input.knetCon_CoExpCluster { border: none; width:22px; height:22px; background:url("../img/CoExpCluster.png") }
input.knetCon_CoExpStudy { border: none; width:22px; height:22px; background:url("../img/CoExpStudy.png") }
input.knetCon_Compound { border: none; width:22px; height:22px; background:url("../img/Compound.png") }
input.knetCon_DGES { border: none; width:22px; height:22px; background:url("../img/DGES.png") }
input.knetCon_Disease { border: none; width:22px; height:22px; background:url("../img/Disease.png") }
input.knetCon_Drug { border: none; width:22px; height:22px; background:url("../img/Drug.png") }
input.knetCon_Enzyme { border: none; width:22px; height:22px; background:url("../img/Enzyme.png") }
input.knetCon_Enzyme_Classification { border: none; width:22px; height:22px; background:url("../img/Enzyme_Classification.png") }
input.knetCon_Gene { border: none; width:22px; height:22px; background:url("../img/Gene.png") }
input.knetCon_Molecular_Function { border: none; width:22px; height:22px; background:url("../img/Molecular_Function.png") }
input.knetCon_Pathway { border: none; width:22px; height:22px; background:url("../img/Pathway.png") }
input.knetCon_Phenotype { border: none; width:22px; height:22px; background:url("../img/Phenotype.png") }
input.knetCon_PlantOntologyTerm { border: none; width:22px; height:22px; background:url("../img/PlantOntologyTerm.png") }
input.knetCon_Protein { border: none; width:22px; height:22px; background:url("../img/Protein.png") }
input.knetCon_Protein_Domain { border: none; width:22px; height:22px; background:url("../img/Protein_Domain.png") }
input.knetCon_Publication { border: none; width:22px; height:22px; background:url("../img/Publication.png") }
input.knetCon_QTL { border: none; width:22px; height:22px; background:url("../img/QTL.png") }
input.knetCon_Quantitative_Trait_Locus { border: none; width:22px; height:22px; background:url("../img/Quantitative_Trait_Locus.png") }
input.knetCon_Reaction { border: none; width:22px; height:22px; background:url("../img/Reaction.png") }
input.knetCon_Scaffold { border: none; width:22px; height:22px; background:url("../img/Scaffold.png") }
input.knetCon_SNP { border: none; width:22px; height:22px; background:url("../img/SNP.png") }
input.knetCon_SNPEffect { border: none; width:22px; height:22px; background:url("../img/SNPEffect.png") }
input.knetCon_Trait { border: none; width:22px; height:22px; background:url("../img/Trait.png") }
input.knetCon_Trait_Ontology { border: none; width:22px; height:22px; background:url("../img/Trait_Ontology.png") }

/*.full_screen #knetmaps-menu {
  margin-top: 0px;
}*/

 /* KnetMaps dropdowns */
 .knet-dropdowns {
  /*display: inline;*/
  margin-top:5px;
  height: 30px; /*25px;*/
  font-size: 15px;
  vertical-align:top; width: 140px;
 }
 
      /* CytoscapeJS "core" container */
      #cy {
        height: 80%/*85%*/; /*750px;*/
        width: 95%/*98*/; /*450px;*/
        position: relative;
        background: white;
        border: 1px solid black;
        /*overflow: hidden;
        margin: auto;*/
        /*margin-top: 10px;*/
        margin-bottom: 5px;
        margin-left: 5px;
       }

   #statsLegend {
     height: 20px;
     /*overflow-y: auto;*/
     font-size: 16px;
     font-weight: bold;
     color: #2A2A2A;
     /*margin-bottom: 25px;
	 position: absolute;*/
   }

      #itemInfo {
       /*display:none;*/
/*       position: fixed; background-color: white; top:100px; right:0; z-index:1; width: 350px; height:550px;*/
       position: absolute; right: 0; z-index: 5; width: 30%; height:/*85*/80%; background-color: white; 
       border: 2px solid #444444;
       /*margin-top: 2px;
       margin-bottom: 2px;*/
       resize: horizontal; max-width: 60%;
      }

      #itemInfo_Table {
       font-family: arial;
       background-color: white; /*#C0C0C0;*/
       /*margin: 10px 0pt 15px;*/
       font-size: 10pt;
       width: 100%;
       text-align: left;
       overflow:auto;
       max-height:280px;
       overflow-x:hidden;
      }
      
      div.infoDiv {
	    width:/*100;%*/ 40%;       /* table width will be 99% of this*/
	    max-height: 100%; /*95%;*/ /*600px;*/ /*400px;*/    /* must be greater than tbody*/
	    overflow:auto;
	    margin:0 auto;
            border: 1px;
       }

      div.infoDiv table {
        width:99%;  /*100% of container produces horiz. scroll in Mozilla*/
	    border:none;
	    border-spacing: 0px;
	    background-color: transparent;
	    border: 1px solid #C2C2C2;
	    border-collapse: collapse;
        /* Table not visible, by default. */
        display: none;
      }

      div.infoDiv th {
        padding: 4px;
        border: none;
      }

      div.infoDiv td {
        padding: 4px;
        border: 1px solid #C2C2C2;
      }

      table.infoTable thead th {
	background-color: white; /*#C0C0C0;*/
	color: black;
	font-size: 10pt;
	padding: 4px;
      }

      div.infoDiv tbody {
	overflow: auto;
	max-height: 280px;
	overflow-x: hidden;
      }

     div.infoDiv table>tbody {
       overflow: auto;
       max-height: 280px;
       overflow-x: hidden;
     }

     div.infoDiv table>tbody tr {
       height: auto;
     }

     div.infoDiv table>thead tr {
       position: relative;
       top: 0px; /*expression(offsetParent.scrollTop); IE5+ only*/
     }

      /* Button to close the Item Info pane */
      #btnCloseItemInfoPane {
       position: relative;
       float: right;
       margin-right: 1%;
       margin-top: 1%;
       margin-bottom: 1%;
      }

      /* Item Info. dialog box */
       .ui-widget-header,.ui-state-default, ui-button {
          background: #277da7; /*#b9cd6d;*/
          border: 1px solid black;
          color: #FFFFFF;
		  font-weight: bold;
         }

       .ui-widget-content {
          background: white;
          border: 1px solid #277da7; /*#b9cd6d;*/
          color: black;
         }

      /* Layouts */
      #animationCheckbox {
       float: right
      }
   
      /* cytoscapeJS radial context menu */
      .cxtmenu-content {
       font-size: 12px;
      }

     /* Interactive Legend */
     #knetLegend {
      border: 1px dotted gray;
      width: 95%; /*margin: auto;*/
    /*  padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 5px;
      margin-left: 5px;*/
      margin-left: 5px;
      background: white;
      font-size: 14px;
      color: #2A2A2A;
      cursor:pointer;
	  display: table/*table-row*/;
     }

     .knetLegend_row {
      display: table-row;
     }

     .knetLegend_cell {
      display: table-cell;
      width: 50px;
      height: 30px;
      text-align: center;
    /*  border: 1px solid blue;*/
      padding: 5px;
     }

     .icon_caption {
      display: block;/*float:below;*/
	  font-size: 11.5px;
     }
     
     /* Alter opacity of images */
     .opacity_class {
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    }
    