<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>Contains OndexServlet configuration values</comment>
	<entry key="ServerHost">localhost</entry>
<!--    	<entry key="ServerHost">qtlnetminer-test</entry> -->
	<entry key="ServerPort">8189</entry>
</properties>