# Remember to issue cat .dockerignore-template .gitignore >.dockerignore
# when you change .gitignore
#
.elasticbeanstalk
/.vscode
*.iml
.idea
bin/
.tmp
dist/
node_modules/
bower_components/
target/
.classpath
.project
.settings
stderr.log
stdout.log
*.swp
.vagrant/
nb-configuration.xml
*.oxl
package-lock.json
.DS_Store
# It is auto-downloaded by Travis
/maven-settings.xml
# Common CI scripts that are auto-downloaded
/ci-build/build.sh
/ci-build/install.sh
/ci-build/maven-settings.xml
# GH Actions
/settings.xml