* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary
*.ez binary
*.bz2 binary
*.swp binary
*.otf binary

# lf = \n (Unix), crfl = \r\n (Win)
# Nowadays there's little point with win style, since almost all Win editors can 
# handle Unix style autoamtically.
#
*.sh text eol=lf
*.js text eol=lf
*.json  text eol=lf
*.less text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml   text eol=lf
*.xml   text eol=lf
*.properties  text eol=lf

