<%@ taglib tagdir="/WEB-INF/tags/layout" prefix="layout" %>

<layout:page title="!!SHORTNAME!!" description="!!METADESC!!" keywords="!!METAKEYWORDS!!" species="!!SHORTNAME!!" chromosomes="!!CHROMOSOMES!!">
    <jsp:attribute name="extraHeader">
    </jsp:attribute>
    <jsp:attribute name="extraBottom">
    </jsp:attribute>
</layout:page>
