/* 
    Created on : 03-Oct-2016
    Author     : Ajit Singh
    Description:
        CSS for the Network Viewer, in tab.
*/

#knet-maps {
    width: 90% ;/*98%;*/
    height: 90%;
	padding-left: 10px;
    /*border: 1px dashed grey;*/
}

/*
 * maximise Overlay/ full screen
 */
 /*#knet-maps*/
 .full_screen {
  position: fixed; 
  width: 90vw; /*90%;*/ /*900px;*/
  height: 90%; /*550px;*/
  top: 5%; 
  left: 5vw; 
  margin-left: 0px;
  margin-top: 0px;
  border-style : solid;
  border-color : gray;
  border-width : 5px;
  border-radius : /*15*/5px;
  /*padding : 30px;*/
  background-color: white;
  box-sizing : border-box;
  z-index: 2; 
 }

 #knetmaps-menu {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*.full_screen #knetmaps-menu {
  margin-top: 0px;
}*/

 /* KNETviewer dropdowns */
 .knet-dropdowns {
  /*display: inline;*/
  margin-top:5px;
  height: 30px; /*25px;*/
  font-size: 15px;
  vertical-align:top; width: 140px;
 }
 
 /* The Center pane */
 .ui-layout-center {
  overflow-y: scroll;
 }
      
      /* CytoscapeJS "core" container */
      #cy {
        height: 85%; /*98%;*/ /*750px;*/
        width: 98%; /*450px;*/
        position: relative;
        background: white;
        border: 1px solid black;
		/*overflow: hidden;
        margin: auto;*/
        /*margin-top: 10px;*/
       }

   #countsLegend {
     height: 20px;
     /*overflow-y: auto;*/
     font-size: 12px;
	 font-weight: bold;
	 color: darkBlue;
     /*margin-bottom: 25px;
	 position: absolute;*/
   }

      #itemInfo {
       /*display:none;*/
/*       position: fixed; background-color: white; top:100px; right:0; z-index:1; width: 350px; height:550px;*/
       position: absolute; right: 0; z-index: 5; width: 30%; height:/*88*/90%; background-color: white; 
       border: 1px dashed black;
       margin-top: 1px;
       margin-bottom: 1px;
       resize: horizontal; max-width: 90%;
      }

      #itemInfo_Table {
       font-family: arial;
       background-color: white; /*#C0C0C0;*/
       /*margin: 10px 0pt 15px;*/
       font-size: 10pt;
       width: 100%;
       text-align: left;
       overflow:auto;
       max-height:280px;
       overflow-x:hidden;
      }
      
      div.infoDiv {
	    width:/*100;%*/ 40%;       /* table width will be 99% of this*/
	    max-height: 100%; /*95%;*/ /*600px;*/ /*400px;*/    /* must be greater than tbody*/
	    overflow:auto;
	    margin:0 auto;
        border: 1px;
       }

      div.infoDiv table {
        width:99%;  /*100% of container produces horiz. scroll in Mozilla*/
	    border:none;
	    border-spacing: 0px;
	    background-color: transparent;
	    border: 1px solid #C2C2C2;
	    border-collapse: collapse;
        /* Table not visible, by default. */
        display: none;
      }

      div.infoDiv th {
        padding: 4px;
        border: none;
      }

      div.infoDiv td {
        padding: 4px;
        border: 1px solid #C2C2C2;
      }

      table.infoTable thead th {
	background-color: white; /*#C0C0C0;*/
	color: black;
	font-size: 10pt;
	padding: 4px;
      }

      div.infoDiv tbody {
	overflow: auto;
	max-height: 280px;
	overflow-x: hidden;
      }

     div.infoDiv table>tbody {
       overflow: auto;
       max-height: 280px;
       overflow-x: hidden;
     }

     div.infoDiv table>tbody tr {
       height: auto;
     }

     div.infoDiv table>thead tr {
       position: relative;
       top: 0px; /*expression(offsetParent.scrollTop); IE5+ only*/
     }

      /* Button to close the Item Info pane */
      #btnCloseItemInfoPane {
       position: relative;
       float: right;
       margin-right: 1%;
       margin-top: 1%;
       margin-bottom: 1%;
      }

      /* Item Info. dialog box */
       .ui-widget-header,.ui-state-default, ui-button {
          background: #277da7; /*#b9cd6d;*/
          border: 1px solid black;
          color: #FFFFFF;
		  font-weight: bold;
         }

       .ui-widget-content {
          background: white;
          border: 1px solid #277da7; /*#b9cd6d;*/
          color: black;
         }

      /* Layouts */
      #animationCheckbox {
       float: right
      }
   
      /* cytoscapeJS radial context menu */
      .cxtmenu-content {
       font-size: 12px;
      }

      