<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>Contains MultiThreadServer configuration values</comment>	
  
  <entry key="DataPath">${project.build.testOutputDirectory}/data</entry>
  <entry key="DataFile">${project.build.testOutputDirectory}/data/ara-tiny.oxl</entry>
	<entry key="SpeciesTaxId">3702</entry>
	<entry key="reference_genome">true</entry>
	<entry key="export_visible_network">true</entry>
	
	<!-- This is the configuration for the new Neo4j-based backend -->
	
	<!-- The value for this comes from Maven and depends on the selected profile. -->
	<entry key = "GraphTraverserClass">${knetminer.graphTraverserClass}</entry>
	<!-- This is for the new Neo4j-based graph traverser -->
	<entry key = "knetminer.backend.configPath">${project.build.testOutputDirectory}/data/neo4j-config/config.xml</entry>
</properties>
