<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>Contains MultiThreadServer configuration values</comment>
	<entry key="DataPath">/var/www/html/cow_data/</entry>
	<entry key="ServerPort">8189</entry>
	<entry key="ServiceProvider">rres.ondex.server.Main</entry>
	<entry key="SpeciesTaxId">9913</entry>
	<entry key="reference_genome">true</entry>	
	<entry key="export_visible_network">false</entry>
</properties>