/* 
    Created on : 12-Mar-2015
    Author     : Ajit Singh
    Description:
        CSS for the cytoscapeJS Network Viewer page.
*/

      root { 
         display: block;
      }

      body {
        font: 14px helvetica neue, helvetica, arial, sans-serif;
        margin: 0px;
        padding: 0px;
      }
      
/*      #layouts_table {
       cellspacing: 1px;
      }*/

      /* The Center pane */
      .ui-layout-center {
       overflow-y: scroll;
      }

      /* CytoscapeJS "core" container */
      #cy {
        height: 900px;/*98%;*/ //950px; //600px;
        width: 1200px;/*98%;*/
        position: relative;
        margin: auto;
        top: 2px;
        bottom: 2px;
        padding-bottom: 25px;
        background: white;
        border: 1px solid #888;
        overflow: hidden;
/*        left: 0px; //2px;
        float: left;
        background-color: white;
        border-radius: 6px;
        border: solid 1px gray;*/
       }

/*     [draggable=true] {
      cursor: move;
     }*/
       
      /* CSS border for the empty Image tag for exported .png images.
      #png_image {
        border: solid 1px #191919;
       }*/

     /* #itemInfo {
       border: 1px;
      }

      #itemInfo_Table {
       font-family: arial;
       background-color: #C0C0C0;
       margin: 10px 0pt 15px;
       font-size: 10pt;
       width: 100%;
       text-align: left;
       overflow:auto;
       max-height:280px;
       overflow-x:hidden;
      }*/
      
      div.infoDiv {
	width:100%;       /* table width will be 99% of this*/
	max-height: 100%; /*95%;*/ /*600px;*/ /*400px;*/    /* must be greater than tbody*/
	overflow:auto;
	margin:0 auto;
        border: 1px;
       }

      div.infoDiv table {
        width:99%;  /*100% of container produces horiz. scroll in Mozilla*/
	/*border:none;*/
	border-spacing: 0px;
	background-color: transparent;
	border: 1px solid #C2C2C2;
	border-collapse: collapse;
        /* Table not visible, by default. */
        display: none;
      }

      div.infoDiv th, div.infoDiv td {
        padding: 4px;
        border: 1px solid #C2C2C2;
      }

      table.infoTable thead th {
	background-color: #C0C0C0;
	color: black;
	font-size: 10pt;
	padding: 4px;
      }

      div.infoDiv tbody {
	overflow: auto;
	max-height: 280px;
	overflow-x: hidden;
      }

     div.infoDiv table>tbody {
       overflow: auto;
       max-height: 280px;
       overflow-x: hidden;
     }

     div.infoDiv table>tbody tr {
       height: auto;
     }

     div.infoDiv table>thead tr {
       position: relative;
       top: 0px; /*expression(offsetParent.scrollTop); IE5+ only*/
     }

      /* Button to close the Item Info pane */
      #btnCloseItemInfoPane {
       position: relative;
       float: right;
       margin-right: 1%;
      }

      /* Button to hide Item Info table */
/*      #showHideInfo {
       position: relative;
       float: right;
       margin-right: 1%;
      }*/

      /* Legend */
      #legend_picture {
          position: relative;
          width: 100%;
          padding-top: 5px;
          padding-bottom: 45px;
      }
      
      #legend_picture #legend_container {
          position: relative;
          margin: auto;
          width: 500px;
          height: 80px;
      }
      
      #legend_frame {
          border: 1px solid gray; 
          padding: 10px; 
          border-radius: 6px;
      }
      
      /* Item Info. dialog box */
       .ui-widget-header,.ui-state-default, ui-button {
          background: #277da7; /*#b9cd6d;*/
          border: 1px solid black;
          color: #FFFFFF;
          font-weight: bold;
         }

       .ui-widget-content {
          background: white;
          border: 1px solid #277da7; /*#b9cd6d;*/
          color: black;
         }

      /* Layouts */
      #animationCheckbox {
       float: right
      }

   /*   #layouts_container {
          position: relative;
          margin: auto;
          width: 500px;
          height: 80px;
      }

      #layouts_frame {
          border: 1px solid black; 
          padding: 10px; 
          border-radius: 6px;
      }*/

      /* cytoscapeJS radial context menu */
      .cxtmenu-content {
       font-size: 12px;
      }

      /* page footer */
      #pageFooter {
          position: relative;
          width: 1200px;
          height: 20px;
          padding-top: 5px;
          clear: left;
          font-size:14px;
          text-align:center;
          margin:auto;
          margin-left:5px;
          margin-bottom:1px;
         }
