#release-body {
	margin:0px; 
	background-color: #F4F5F7;
	font-family: 'Play', sans-serif;
}

#release-content a {
	text-decoration:none; 
	color:darkorange;
}
.release-title {
	padding-left:40px;
}
/*Navbar*/

.navbar {
	display:block;
	height:51px;
	box-shadow: 0 1px 1px white;
	background-color:#2A2A2A;
	position: fixed;
    overflow: auto;
    z-index: 10;
    width: 100%;
	}

@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 13px;
}}
/*end navbar*/

#release-content{padding-top:80px; padding-left:50px;}

/*Footer*/
.contact-footer {
	background-color:#2A2A2A;
	color:white;
	padding-bottom:10px;
	position: absolute;
    width: 100%;
	}
.contact-footer p {
	font-size:12px;
	color:white;
	}
.contact-footer ul {
	overflow:hidden;
}
.contact-footer ul li{
	display:inline;
	float:left;
	padding-top:30px;
}
.foot {
		text-align:center;
		padding-top:30px;
		}
.logos {
	padding-left:0px;
	}
.logos img{
	padding-top:5px;
	    padding-left: 10px;
	}
	
.knetminer-logo {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	display:block;
	}
#text-logo {
	text-align:center;
	}
@media (max-width: 991px) {
	.knetminer-logo {
		margin:30px 0px 0px 0px;
		padding-left:25px;
		}
	#text-logo {
	text-align:left;
	padding-left:25px;	
		}
	}
@media (max-width: 310px) {
	.knetminer-logo {
	width:100%;
	height:auto;
	}
	}
@media (max-width: 310px) {
	.bbsrc-logo {
	width:80%;
	height:auto;
		}
		}
.logos-right {
	float:right;
	margin-left:20px;
	}

@media (max-width: 991px) {
	.logos-right {
	float:none;
	margin-left:20px;
	}
	}
.contact-button h4{
	color:white;
	}
a.contact-button{
	text-decoration:none !important;	
	}
a.contact-button :hover {
	color:darkorange;
	font-weight:bold;
	}
.contact-page a:hover {
	color:darkorange;
	text-decoration:none;
	}

 #species_header {
    float: right;
    color: white;
    font-size: 20px;
    font-style: italic;
    padding-right: 20px;
    padding-top: 15px;
}