html{
	height: 100%;
        /*background-color: #F4F5F7;*/
}
body {
	margin:0px;padding:0px;
	font-size:16px;
	font-family: 'Play', sans-serif;
	min-width: 960px;
	background: url("../image/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

h2 {
	font-family:verdana;
	font-size: 12pt;
	padding:0px;
}
p {
	font-style:italic;
}
a {
	text-decoration:none;
	color:darkorange;
}
a img {
	border:none;
}

.redText {
	color:red;
}
#release_icon {
	float: right; 
	padding-right: 50px; 
	padding-top: 18px; 
	font-size: 22px;
}

#species_header {
	float: right;
    color: white;
    font-size: 20px;
    font-style: italic;
    padding-right: 20px;
    padding-top: 15px;
}
a:hover {
	text-decoration:underline;
}
.textBlock
{
	max-width:210px;
    display:block;
    margin-top:-16px;
    margin-left:28px;
}
.button {
	cursor:pointer;
	/*height:35px;
	font-size:14px;
	background-color: #2A2A2A;
    color: white;*/
}
.button_link {
    background:transparent;
	overflow:visible;
    margin:0;
    padding:0;
    border:0;
    color: #3B53A5;
	text-decoration:none;
	font-weight:bold;
    background:transparent;
    line-height:normal;
    cursor:pointer;
    -moz-user-select:text;
}
/*
div#wrapper {
	width:960px;
	/*background-color:#484747;*/
	/*margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
}

div#header {
	margin:0px;
}
div#header_menu {
	float:right;
}
div#header_menu ul {
	float:right;
}
div#header_menu li {
	text-align:right;
	float:left;
	margin-left:15px;
	margin-right:15px;
}
div#header_menu li:first-child {
    list-style:none;
}
*/
div#title {
	float:center;
	padding-top:20px;
	clear:both;
}
div#subtitle {
	margin-left:auto;
    margin-right:auto;
	float:center;
	clear:right;
}
div#leftnav {
	float:left;
	width:130px;
	height:150px;
	margin:0;
	padding:1em;
}
.rightnav {
	padding-top:15px;
}
.rightnav_genelist {
	padding-top: 15px;
}
/*Navbar*/

.navbar {
	display:block;
	height:51px;
	box-shadow: 0 1px 1px white;
	background-color:#2A2A2A;
	position: fixed;
    overflow: auto;
    z-index: 10;
    width: 100%;
	}

@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 13px;
}}
/*end navbar*/

div#content {
	padding-top: 100px;
    height: auto;
    padding-bottom: 10px;
}

ul#main_list {
	list-style:none;
}

div#keyword_search  {
	padding-top:20px;
        width:70%;
}
div#keyword_search ul{
	list-style:none;
	display:inline-block;
    white-space:nowrap;
    margin-bottom:0;
	zoom: 1;
	*display: inline;
	padding:0px;
}
div#keyword_search li {
	float:left;
}
div#keyword_search input[type="text"] {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	width:740px;
	height:30px;
	margin-right:5px;
	border: solid 2px;
    border-color: orange;
}
div#keyword_search input[type="text"]:focus {
outline-width: 0;
}
#keywordsSubmit:focus{
outline-width: 0;
}
@media(max-width:1512px){
div#keyword_search input[type="text"] {
	width:480px;
}}
div#list_search {
	position:relative;
}

/*Info box*/
.details {
	float: right;
    background-color: rgba(117, 119, 119, 0.14);
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    margin-top: /*10*/25px;
    margin-right: 15px;
    width: /*230px*/25%;
}

.details h3 {
	margin-top: 0;
}

.details:target {
	display: none;
}

.close {
    /* left: 215px; */ float: right;
    position: relative;
    top: -42px;
}

#info-text {
	padding:10px;
        /*font-size:15px;*/
	}


div#loadingDiv {
	width:30px;
	height:35px;
	margin-left:-35px;
	color:#D56048;
	position:relative;
	top:10px;
}
div#loadingNetworkDiv {
	float:right;
	width:210px;
	height:30px;
	padding-top:13px;
	padding-right:5px;
	color:darkorange;
	font-size:14px;
}
div#loadingNetworkDiv img {
	float:right;
}
div#loadingNetwork_Div {
	float:right;
	width:210px;
	height:20px;
	padding-top:13px;
	padding-right:5px;
	color:darkorange;
	font-size:14px;
}
div#loadingNetwork_Div img {
	float:right;
}
div#loadingDiv ul li{
	padding-left:20px;
}
div#region_search_area li {
    list-style:none;
}
div#region_search_area {
    #text-align:center;
    padding:20px 0px 20px 0px;
    width:100%;
	position:relative;
}
div#region_search_area table {
	display:inline-block;
    white-space:nowrap;
	zoom: 1;
	*display: inline;
    text-align:left;
}
div#region_search_area input[type="text"], select {
	width:95px;
	margin-right:4px;
	margin-bottom:5px;
}

#numGenes {
	width: /*60*/100px;
}
#selectUser {
	float:right;
	text-align:right;
}
div#advanced_search_area {
	margin-top:10px;
	position:relative;
}
div#networkButton {
	width:101%;
	height:/*30*/70px;
	margin-top:8px;
}
div#networkButton input[type="button"] {
	float:right;
	margin-right:10px;
	margin-top:10px;
}

/* For the old Ondex Web Network View, now displayed as a link. */
a[id="generateMultiGeneNetworkButton"] {
	float:right;
	margin-right:-100px;
	margin-top:40px;
}

/* New button to show CytoscapeJS Network Viewer. */
/*#new_generateMultiGeneNetworkButton {
	float:right;
	margin:10px;
}*/

/*
div#footer {
	padding:15px;
	margin:0px;
}
*/
div.scrollTable {
	width:100%;       /* table width will be 99% of this*/
	max-height:/*400*/600px;    /* must be greater than tbody*/
	overflow:auto;
	margin:0 auto;
}
div.scrollTable table {
    width:99%;  /*100% of container produces horiz. scroll in Mozilla*/
	border:none;
	border-spacing:0px;
	background-color:transparent;
	border:1px solid #C2C2C2;
	border-collapse:collapse;
}
div.scrollTable th, div.scrollTable td {
    padding:4px;
    border:1px solid #C2C2C2;
}
div.scrollTable tbody {
	overflow: auto;
	max-height: 280px;
	overflow-x: hidden;
}
div.scrollTable table>tbody {
  overflow:auto;
  max-height:280px;
  overflow-x:hidden;
}
div.scrollTable table>tbody tr {
  height:auto;
}
div.scrollTable table>thead tr {
  position:relative;
  top: 0px;/*expression(offsetParent.scrollTop); IE5+ only*/
}
/* tablesorter */
table.tablesorter {
	font-family:arial;
	background-color:#C0C0C0;
	margin:10px 0pt 15px;
	font-size: 10pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color:#C0C0C0;
	color:black;
	font-size:10pt;
	padding:4px;
}
table.tablesorter thead tr .header {
	background-image: url(../image/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color:#3D3D3D;
	padding:4px;
	background-color:#FFF;
	vertical-align:top;
}
table.tablesorter tbody tr.odd td {
	background-color:#D5EECD;
}
table.tablesorter thead tr .headerSortUp {
	background-image:url(../image/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image:url(../image/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color:#F0F0F6;
	background-color:#BDB7A8;
}

table.suggestorTable {
	margin-left: 28px;
    text-align: left;
    padding: 7px;
	border: 1px solid;
}
table.suggestorTable thead tr th {
	background-color:#C0C0C0;
	color:black;
	padding:4px;
}

table.suggestorTable .evidence_item {
	margin-left:50px;
}

table.suggestorTable .qtl_item {
	margin-left:50px;
}

table.tablesorter tbody td {
	color:#3D3D3D;
	background-color:#FFF;
}

/* tooltip */
span.hint {
	display:inline-block;
	cursor:help;
}
span.hint-small {
	
	height: 19px;
	width: 19px;
	
}

span.hint-small:hover {
	//background-position: -19px 0;
}

span.hint-big {
	background: url(../image/Hint_big.png) 0 0 no-repeat;
	cursor: pointer;
}

span.hint-big:hover {
	background-position: -36px 0;
}

.tooltip {
	min-width: 250px;
	margin:8px;
	padding:8px;
	border:1px solid grey;
	background-color:#FBF2D7;
	position:absolute;
	margin-bottom:20px;
	z-index:100000;
}


.exampleQuery {
	cursor:pointer;
}

/* Evidence pictures */
.evidence_item {margin:0px 3px 3px 0px;float:left;position:relative; height:18px;padding-top:4px; width:22px;text-align:center; font:12px Arial, Helvetica, sans-serif}
.evidence_item_Gene {background:url(../image/Gene.png) no-repeat;padding-top:6px;height:16px;}
.evidence_item_BioProc {background:url(../image/Bioogical_proccess.png) no-repeat;}
.evidence_item_CelComp {background:url(../image/Cellular_component.png) no-repeat;}
.evidence_item_Comp {background:url(../image/Compound.png) no-repeat;}
.evidence_item_SNP {background:url(../image/Compound.png) no-repeat;}
.evidence_item_Enzyme {background:url(../image/Enzyme.png) no-repeat;}
.evidence_item_EC {background:url(../image/Enzyme_clasification.png) no-repeat;}
.evidence_item_MolFunc {background:url(../image/Molecular_function.png) no-repeat;}
.evidence_item_Path {background:url(../image/Pathway.png) no-repeat;}
.evidence_item_Protein {background:url(../image/Protein.png) no-repeat;}
.evidence_item_ProtDomain {background:url(../image/Protein_domain.png) no-repeat;}
.evidence_item_Publication {background:url(../image/Publication.png) no-repeat;}
.evidence_item_Reaction {background:url(../image/Reaction.png) no-repeat;}
.evidence_item_Transport {background:url(../image/Transport.png) no-repeat;}
.evidence_item_TO {background:url(../image/Trait_ontology.png) no-repeat;}
.evidence_item_Phenotype {background:url(../image/Phenotype.png) no-repeat;}
.evidence_item_Trait {background:url(../image/Trait.png) no-repeat;}
.evidence_item_Drug {background:url(../image/Drug.png) no-repeat;}
.evidence_item_Disease {background:url(../image/Disease.png) no-repeat;}
.evidence_item_DGES {background:url(../image/DGES.png) no-repeat;}
.evidence_item_QTL {background:url(../image/QTL.png) no-repeat;}
.evidence_item_Scaffold {background:url(../image/Scaffold.png) no-repeat;}
.evidence_item_CoExpCluster {background:url(../image/CoExpCluster.png) no-repeat;}
.evidence_item_CoExpStudy {background:url(../image/CoExpStudy.png) no-repeat;}
.evidence_item_PlantOntologyTerm {background:url(../image/PlantOntologyTerm.png) no-repeat;}
.evidence_item_SNPEffect {background:url(../image/SNPEffect.png) no-repeat;}

/* Preload the evidence pictures */
body:after{
	content:url(../image/Gene.png) url(../image/Bioogical_proccess.png) url(../image/Cellular_component.png) url(../image/Compound.png) url(../image/Enzyme.png) url(../image/Enzyme_clasification.png) url(../image/Molecular_function.png) url(../image/Pathway.png) url(../image/Protein.png) url(../image/Protein_domain.png) url(../image/Publication.png) url(../image/Reaction.png) url(../image/Transport.png) url(../image/Trait_ontology.png) url(../image/Phenotype.png)  url(../image/Trait.png) url(../image/Drug.png) url(../image/Disease.png) url(../image/DGES.png) url(../image/QTL.png) url(../image/Scaffold.png);
	display:none;
}

/* both evidence and qtl dropdown boxes */
.dropdown_box_open { cursor:pointer;}
.dropdown_box_close {cursor:pointer;position:absolute;top:-10px;left:-12px;background:url(../image/close.png) no-repeat;height:18px;width:18px}

/* Evidenence box view */
.evidence_box {position:absolute; width:185px; top:0px; left:25px; border: solid 3px #C0C0C0;background-color:#FFFFFF;padding:0px 9px;z-index:2;text-align:left; display:none}
.evidence_box span {font-size:17px; color:#003399;}

/* QTL box Gene View*/
.qtl_item {margin: 0px 3px 3px 0px; float:left; position:relative; height:18px; padding-top:4px; width:22px; text-align:left; font:14px Arial, Helvetica, sans-serif; color:#4184C1}
.qtl_box {position:absolute; width:180px; top:0px; left:25px; border: solid 3px #C0C0C0;background-color:#FFFFFF;padding:0px 9px;z-index:2; text-align:left; font:12px Arial, Helvetica, sans-serif; color:#3D3D3D; display:none;}
.qtl_box span {font-size:17px; color:#003399; font-style:normal;}
.qtl_box_close {position:absolute;top:-10px;left:-12px;background:url(../image/close.png) no-repeat;height:18px;width:18px}

/* Legend */
/*#legend_picture {position:relative;width:100%;padding-top:10px;}
#legend_picture #legend_container {position:relative;margin:auto;width:500px;height:80px;}
#legend_frame {border: solid 1px gray; padding: 10px; border-radius: 6px; margin-top: 30px;}*/

/* General Styles */
#wrapper {position:relative;margin:auto; min-height:100%;}

/* Header  */
#header {position:relative;clear:left;}
#header img {border:none;}
#header #qtlLogo {position:absolute; top:25px; left:30px;}
#header #organism {position:absolute; top:6px; right:40px;}
#header #motto {position:absolute; top:110px; left:30px; font-size:12px;}


/* Footer */
/*#footer_spacer {position:relative; height:2px;width:960px; background:url(../image/divisor_footer.png) repeat-x ;clear:left;}
#footer {position:relative; width:900px;padding:30px;clear:left; font-size:14px; text-align:center; height:77px;}
#footer #left_footer {position:absolute;left:8px;top:5px;text-align:left;font-size:10px;}
#footer #right_footer {position:absolute;right:8px;top:5px;text-align:right;font-size:10px;}
*/
/*Footer*/
.contact-footer {
	background-color:#2A2A2A;
	color:white;
	position: relative;
    width: 100%;
    height: 150px;
	}
@media (max-width:1490px){
	.contact-footer {
		height:200px;
	}
}
.contact-footer p {
	font-size:12px;
	color:white;
	}
.contact-footer ul {
	overflow:hidden;
	margin-bottom:0px;
}
.contact-footer ul li{
	display:inline;
	float:left;
	padding-top:20px;
}
.foot {
		text-align:center;
		padding-top:30px;
		}
.logos {
	padding-left:0px;
	}
.logos img{
	padding-top:5px;
	    padding-left: /*10*/1px;
	}
	
.knetminer-logo {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	display:block;
	}
#text-logo {
	text-align:center;
	}
@media (max-width: 991px) {
	.knetminer-logo {
		margin:30px 0px 0px 0px;
		padding-left:25px;
		}
	#text-logo {
	text-align:left;
	padding-left:25px;	
		}
	}
@media (max-width: 310px) {
	.knetminer-logo {
	width:100%;
	height:auto;
	}
	}
@media (max-width: 310px) {
	.bbsrc-logo {
	width:80%;
	height:auto;
		}
		}
.logos-right {
	float:right;
	margin-left:20px;
	}

@media (max-width: 991px) {
	.logos-right {
	float:none;
	margin-left:20px;
	}
	}
.contact-button h4{
	color:white;
	}
a.contact-button{
	text-decoration:none !important;	
	}
a.contact-button :hover {
	color:darkorange;
	font-weight:bold;
	}
.contact-page a:hover {
	color:darkorange;
	text-decoration:none;
	}
/* Tab Window */
#tabviewer_buttons {margin:auto; width:70%;padding-bottom:45px;padding-top:15px;}
.button_off {position:relative;float:left;padding-top:7px;height:22px;width:121px;text-align:center;font:14px bold Arial, Helvetica, sans-serif;background-color: #2A2A2A;margin-left: 10px; border-radius:18px;
	  -moz-border-radius:18px; 
	  -webkit-border-radius:18px; 
	  -o-border-radius:18px;}
.button_off a {color:darkorange;text-decoration:none;}
.button_on {position:relative;float:left;padding-top:7px;height:22px;width:121px;text-align:center;font:14px bold Arial, Helvetica, sans-serif;background-color: #2A2A2A;
    margin-left: 10px; border-radius:18px;
	  -moz-border-radius:18px; 
	  -webkit-border-radius:18px; 
	  -o-border-radius:18px;}
.button_on a {color:#FFF;text-decoration:none;}
.button_on:hover {background-color:grey;}
#pGViewer {float:left;}
#resultsTable {position:relative;padding-bottom:80px;margin:auto;width:90%;}
#evidenceTable {position:relative;padding-bottom:80px; margin: auto; width: 90%;}
#tablesorterEvidence div{margin-left:19px;}
#tablesorterEvidence div.evidence_item {margin-left:13px;}
.margin_left {position:relative;}
#tabviewer_content {min-height:650px; width: 70%; margin: auto; border: 2px solid #2d2c2c; background-color: #F4F5F7; border-radius:18px;
	  -moz-border-radius:18px; 
	  -webkit-border-radius:18px; 
	  -o-border-radius:18px;}
/* Search bar */
#search{position:relative; width: 70%; margin: auto;background-color:#F4F5F7;border:2px solid #2d2c2c;padding-bottom: 20px; border-radius:18px;
	  -moz-border-radius:18px; 
	  -webkit-border-radius:18px; 
	  -o-border-radius:18px;}
#pGViewer_title {padding-bottom:10px;padding-top:10px;font-size:12px;margin:auto; width:70%;color:white;}
.preloader_bar {left:250px;position:relative;}
#matchesResultDiv {font-size:12px; color:#9B9B9B; padding-bottom:15px; padding-top:15px;}
#genemap-tab {position: relative;width: 90%;margin: auto;background-color: #F4F5F7;padding-bottom: 20px;margin-top: 30px;}

#NetworkCanvas{position:relative;float:left;width: 95%/*850px*/; height: /*600*/640px; padding-bottom: /*70*/10px;}
#Network_frame{border:none;}

/* Evidence View */
.evidenceSummary {position:relative; width:100%;}
.evidenceSummary .evidenceSummaryItem {position:relative;float:left;width:50px;font-size:11px;}

/* Gene View: interactive evidence summary filter */
#evidenceSummary2 {cursor:pointer; padding-top:5px; padding-bottom:5px;}
#loadingDiv_GeneView {float:right; color:darkOrange; font-size:15px; font-weight:bold; width:120px; height:25px; display:none;}

/* Suggestor box */
/* #suggestor_search_area {} */
.preloader_wrapper {width: 100%;position: relative;}
#suggestor_invite {color:#900;}
#suggestor_tables img {position: relative;}
#suggestor_terms {position:relative;clear:left;padding-left:29px;}
#suggestor_tables {position:relative;clear:left;}
.buttonSynonym_off {cursor:pointer;background:url(../image/synonym_bg_off.png) repeat-x; float: left; height: 23px;margin: 0 12px 5px 10px;padding-top: 10px;position: relative;color:#fff;}
.buttonSynonym_on {cursor:pointer;background:url(../image/synonym_bg_on.png) repeat-x; float: left; height: 23px;margin: 0 12px 5px 10px;padding-top: 10px;position: relative;;color:#fff;font-weight:bold;}
.synonym_right_border {position:absolute;top:0px;right:-9px;}
.synonym_left_border {position:absolute;top:0px;left:-9px;}
.addKeyword {cursor:pointer;width:22px;height:22px;background:url(../image/add_off.png) no-repeat;position:relative;float:left;}
.addKeywordUndo {cursor:pointer;width:22px;height:22px;background:url(../image/add_on.png) no-repeat;position:relative;float:left;}
.excludeKeyword {cursor:pointer;width:22px;height:22px;background:url(../image/exclude_off.png) no-repeat;position:relative;float:left;}
.excludeKeywordUndo {cursor:pointer;width:22px;height:22px;background:url(../image/exclude_on.png) no-repeat;position:relative;float:left;}
.replaceKeyword {cursor:pointer;width:22px;height:22px;background:url(../image/replace_off.png) no-repeat;position:relative;float:left;}
.replaceKeywordUndo {cursor:pointer;width:22px;height:22px;background:url(../image/replace_on.png) no-repeat;position:relative;float:left;}
.tabBox {left: -2px;position: absolute;top: 14px;}
.conceptTabOn {cursor:pointer;position:relative;clear:left;width:33px;height: 62px;margin-top: -14px; background:url(../image/conceptTabOn.png) no-repeat;z-index:2;}
.conceptTabOn div {position:absolute;top:9px;right:3px;opacity: 0.6;}
.conceptTabOff {cursor:pointer;position:relative;clear:left;width:33px;height: 62px;margin-top: -14px; background:url(../image/conceptTabOff.png) no-repeat;z-index:1;}
.conceptTabOff div {position:absolute;top:9px;right:3px;opacity: 0.6;}




/*
 * networkview Modal popupBox
 */
#modalShadow {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index:1999;
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	display:none;
}
.modalBox {
	position: relative;
	width: 760px;
	height: 750px;
}

.modalBox.modalBoxVisible  {
	position: fixed;
	left: 3%;
	right: 3%;
	top: 44px;
	bottom: 50px;
	height: auto;
	width: auto;
	z-index: 2000;
	text-align: center;
}

#OndexWebContainer{
	position:absolute;
	width:100%;
	top:0px;
	bottom:150px;
}

.modalBoxVisible #OndexWebContainer {
	bottom: 100px;
}
#OndexWeb-app, #OndexWebApplet{
	width: 100%;
	height: 100%;
}

.modalBox #legend_picture {
	position: absolute;
	bottom: 50px;
}

.modalBox.modalBoxVisible #legend_picture{
	bottom: 0px;
}



.modalBox.modalBoxVisible #legend_frame {
	background-color: #fff;
}

.modalBox.modalBoxVisible #restoreNetwork {
	display:inline-block;
}

#buttonBox {
	position: relative;
	height: 50px;
	margin-top:5px;
	text-align: right
}


/*
 * network Buttons
 */

.networkButtons {
	height: 36px;
	width: 36px;
	margin-left: 3px;
	margin-right: 3px;
	display: inline-block;
}

#buttonBox .networkButtons {
	text-align: right;
}

#newNetworkWindow {
	background: url(../image/New_Window.png) 0 0 no-repeat;
}
#newNetworkWindow:hover {
	background-position: -36px 0;
}

#maximiseNetwork {
	background: url(../image/Maximise.png) 0 0 no-repeat;
}
#maximiseNetwork:hover {
	background-position: -36px 0;
}

#downloadNetworkTab {
	background: url(../image/Download.png) 0 0 no-repeat;
}
#downloadNetworkTab:hover {
	background-position: -36px 0;
}

#restoreNetwork {
	background: url(../image/Restore.png) 0 0 no-repeat;
	position: relative;
	top:-35px;
	z-index: 2000;
	display: none;
}

#restoreNetwork:hover {
	background-position: -36px 0;
}

#networkHelpBox {
	display: none;
	z-index: 1000;
	width: 730px;
	height: 265px;
	position: absolute;
	top: -290px;
	background-color: #F4F5F7;
	border: solid 3px #e4e4e4;
	padding: 10px 10px 10px 10px;
}

      /* Network View Legend */
      #networkLegend_container {
          position: relative;
          margin: auto;
          width: 500px;
          height: 80px;
		  padding-top: 10px;
		  
      }
      
      #networkLegend_frame {
          border: 1px solid gray; 
          border-radius: 6px;
          width: 550px;
    	  margin: auto;
    	  margin-top:10px;
    	  margin-bottom:10px;
      }
      

#genemap {
	height: 500px;/*450px;*/
}