<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="log-name">${sys:catalina.home}/logs/${web:contextPath}</Property>
	</Properties>
	
	<Appenders>
		<RollingFile name="RollingFile"
			fileName="${log-name}.log"
			filePattern="${log-name}-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<!--pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern -->
				<pattern>%d{yyyyMMdd-HH:mm:ss.SSS} [%thread] %-5level %logger{1} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
      	<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>

		<!-- 
			This is where the analytics trackers are sent, in JSON format.
		-->
		<RollingFile name="AnalyticsRollingFile"
					 fileName="${log-name}-analytics.json"
					 filePattern="${log-name}-analytics-%d{yyyy-MM-dd}.json">
			<JSONLayout compact="false" eventEol="true" objectMessageAsJsonObject="true"/>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
		
		<RollingFile name="VerboseRollingFile"
			fileName="${log-name}-details.log"
			filePattern="${log-name}-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>%d{yyyyMMdd-HH:mm:ss.SSS} [%thread] %-5level %logger{1} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
      	<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
	</Appenders>
	
	
	<Loggers>

		<Root level="INFO">
			<AppenderRef ref="RollingFile" />
		</Root>

		<Logger name="analytics-log" level="INFO" additivity = "false">
			<AppenderRef ref="AnalyticsRollingFile" />
		</Logger>

		<!-- TODO: requires DEBUG level AND to activate DEBUG ONLY on Knetminer components -->
		<!-- TODO: also check if it's better to have ONE logger which has multiple AppenderRef -->
		<Logger name="verbose-log" level="INFO" additivity = "false">
			<AppenderRef ref="VerboseRollingFile" />
		</Logger>
	</Loggers>
</Configuration>
