<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

	<Properties>
		<Property name="logName">${sys:catalina.home}/logs/${web:contextPath}</Property>
	</Properties>
	
	<Appenders>
	
		<RollingFile name = "RollingFile" fileName = "${logName}.log" filePattern = "${logName}-%d{yyyy-MM-dd}.log">
			
			<ThresholdFilter level = "INFO" />
			
			<PatternLayout>
				<!--pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern -->
				<pattern>%d{yyyyMMdd-HH:mm:ss.SSS} [%thread] %-5level %logger{1} - %msg%n</pattern>
			</PatternLayout>

			<Policies>
      	<TimeBasedTriggeringPolicy />
			</Policies>

			<DefaultRolloverStrategy max = "4" />
		
		</RollingFile>


		<!-- 
			This is where the analytics trackers are sent, in JSON format.
		-->
		<RollingFile name = "AnalyticsRollingFile" 
			fileName = "${logName}-analytics.json" filePattern = "${logName}-analytics-%d{yyyy-MM-dd}.json">
					 
			<JSONLayout compact = "false" eventEol = "true" objectMessageAsJsonObject = "true" />

			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>

			<DefaultRolloverStrategy max="4" />

		</RollingFile>
		
		
		<!--  A more detailed log. Essentially, it has the exception details -->
		<RollingFile name="VerboseRollingFile" fileName = "${logName}-details.log" 
		    filePattern = "${logName}-details-%d{yyyy-MM-dd}.log">
			
			<PatternLayout>
				<pattern>%d{yyyyMMdd-HH:mm:ss.SSS} [%thread] %-5level %logger{1} - %msg%n</pattern>
			</PatternLayout>

			<Policies>
      	<TimeBasedTriggeringPolicy />
			</Policies>

			<DefaultRolloverStrategy max = "4" />

		</RollingFile>

	</Appenders>
	
	
	<Loggers>

		<Root level="INFO">
			<AppenderRef ref = "RollingFile" />
		</Root>

		<Logger name="analytics-log" level="INFO" additivity = "false">
			<AppenderRef ref = "AnalyticsRollingFile" />
		</Logger>

		<!--
		  Exceptions are logged in this package by sending both a short message with ERROR level and one 
		  with the stack trace. So, this will send the short message to both this detail file and the main file 
		  (additivity = true), while the debug message is sent to this detail file only (actually, is blocked
		  by the threshold filter in the main file).  
		-->
		<Logger name = "rres.knetminer" level = "DEBUG" additivity = "true">
			<AppenderRef ref = "VerboseRollingFile" />
		</Logger>

	</Loggers>

</Configuration>
