<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
  <display-name>KnetMiner Front End Application</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>html/index.jsp</welcome-file>
  </welcome-file-list>

  <!-- TODO: probably to be removed (GenePageUtils servlet too). We don't need any of this. genepage.jsp can 
  	   be called directly and possibly, there are easier ways to redirect URL paths -->
  <servlet>
    <servlet-name>GenePageUtils</servlet-name>
    <servlet-class>rres.knetminer.client.GenePageUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenePageUtils</servlet-name>
    <url-pattern>/genepage</url-pattern>
  </servlet-mapping>
	  
</web-app>