<?xml version="1.0" encoding="UTF-8"?>
<!-- TODO: Migrate toward SLF4J/LogBack -->
<Configuration status="INFO">
	<Properties>
		<Property name="log-name">target/logs/aratiny</Property>
	</Properties>
	<Appenders>
		<RollingFile name="RollingFile"
			fileName="${log-name}.log"
			filePattern="${log-name}-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
			</PatternLayout>
			<Policies>
      			<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
			</PatternLayout>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="root" level="info" additivity="false">
			<appender-ref ref="RollingFile" level="debug" />
			<appender-ref ref="STDOUT" level="debug" />			
		</Logger>
		<Root level="info" additivity="false">
			<AppenderRef ref="RollingFile" />
			<appender-ref ref="STDOUT" level="debug" />						
		</Root>
	</Loggers>
</Configuration>