<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>Contains MultiThreadServer configuration values</comment>	
        <entry key="DataPath">D:/Users/singha/KnetMinerArabidopsis</entry>
        <entry key="DataFile">D:/Users/singha/KnetMinerArabidopsis/test_Arabidopsis.oxl</entry>
	<entry key="SpeciesTaxId">3702</entry>
	<entry key="reference_genome">true</entry>
	<entry key="export_visible_network">true</entry>
</properties>
