

g.annotations  line {
  stroke: #000;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}

g.annotations_container rect.border {
  fill: none;
  stroke-width: 0.5;
  stroke: #000;
}

g.annotations text {
  font-family: sans-serif;
}

/* Gene annotations */
.gene_annotation polygon {
  fill: red;
  stroke: black;
  stroke-width: 0.5;
}

.gene_annotation text {
  text-anchor: middle;
}

/* QTL annotations */

.qtl_annotation rect.qtl-selector {
  stroke: none;
  stroke-width:1;
  vector-effect: 'non-scaling-stroke';
}

.qtl_annotation text {
  text-anchor: middle;
}
