
.chromosome {
  font-family: sans-serif;
  text-anchor: middle;
}

.chromosome .mask_rect {
  stroke: none;
  fill: #fff;
}

.chromosome rect.outline {
   fill: none;
   stroke-width: 0.5;
   stroke: #000;
}

.chromosome rect.border {
   fill: none;
   stroke-width: 0.5;
   stroke: #000;
}

.chromosome rect.band {
  stroke: none;
}
