<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>Contains MultiThreadServer configuration values</comment>
	<entry key="DataPath">/var/www/html/ztritici_data/</entry>
	<entry key="ServerPort">8081</entry> <!-- 8189: f. graminearum -->
	<entry key="ServiceProvider">rres.ondex.server.Main</entry>
	<entry key="SpeciesTaxId">336722</entry> <!-- 5518: f. graminearum -->
	<entry key="reference_genome">true</entry>
	<entry key="export_visible_network">false</entry>
</properties>