/* 
* Login form css styling
* Author: hearnshawj
*/

    #KnetSubmit, #KnetSpacelogin {
        width: 100%;
        background: linear-gradient(dimgrey 5%, dimgrey 100%);
        border: 1px solid #ffa500;
        font-size: 20px;
        margin-top: 15px;
        padding: 8px;
        font-weight: bold;
        cursor: pointer;
        color: white;
        text-shadow: 0px 1px 0px #dimgrey;
        -webkit-transform: perspective(0.5px) translateZ(0);
        transform: perspective(0.5px) translateZ(0);
        box-shadow: 0 0 0.5px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow;
        transition-property: box-shadow;
        box-shadow: inset 0 0 0 1px #ff8c00, 0 0 0px rgba(0, 0, 0, 0);
    }

    #KnetSubmit:hover, #KnetSubmit:focus, #KnetSubmit:active, #KnetSpacelogin:hover, #KnetSpacelogin:focus, #KnetSpacelogin:active {
        box-shadow: inset 0 0 0 2.5px #ff8c00, 0 0 0px rgba(0, 0, 0, 0);
    }

    #KnetSubmit, #KnetSpacelogin a:hover {
        color:darkorange;
        text-decoration:none;
    }

    #email, #password input[type=text],[type=password] {
        width: 97.7%;
        height: 34px;
        padding-left: 5px;
        margin-bottom: 20px;
        margin-top: 8px;
        box-shadow: 0 0 5px #ffa500;
        border: 0.5px solid #ffa500;
        color: #232323;
        font-size: 18px;
        font-weight:bold;
    }
    
    .knetButton {
        background-color: white; 
        color: black; 
        border: 2px solid #f44336;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 2px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }


    .knetButton:hover {
        background-color: #f44336;
        color: white;
    }