.legend-actions-container{
    display: flex;
    width: auto;
    align-items: center;
    position: relative;
}

.legends-filter-button{
    font-size: .75rem;
    cursor: pointer;
}

.legends-reset-button{
    margin-left: .5rem;
}

.distance-unit {
    display: flex;
    align-items: center;
}


.distance-button{
    justify-content: flex-end;
}   

.unit{
    margin-left: 1.7rem;
    border-radius: 6px;
    border: none;
    background-color: var(--green);
}

.filter-button{
    float: right;
    clear: right;
    padding: 0.3rem .9rem;
    background: var(--green);
    border: none;
    color: var(--white); 
    border-radius: 8px;
}

.no-border{
    background: var(--white);
    border: 1px solid var(--green);
    color: var(--green);
}

.score-range{
    position: absolute;
    width: 100%;
    outline: none;
    appearance:none;
    --webkit-appearance:none;
    cursor: pointer;
    height: .2rem;
    border-radius: 0.75rem;
    background:none;
    top: 0.3pc;
    pointer-events: none;
}

                    
.range-slider{
    height: 0.25rem;
    width: 100%;
    position: absolute;
    background-color: grey;
    top: 0.41pc;
    left: 0.1pc;
    border-radius: 0.75rem;
}


.range-selected {
    height: 100%;
    position: absolute;
    border-radius: 5px;
    right: 0%;
    left: 0%;
    background-color: var(--green);
  }

.score-range::-webkit-slider-thumb{
    appearance: none;
    background: var(--white);
    border: 2px solid var(--green);
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 100%;
    pointer-events: auto;
}

.knetscore-container{
    display: flex;
    flex-direction:column;
    position: relative;
}

.score-container{
    position: relative;
}

.score-value-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 1.2rem;
    margin-left: .5rem;

}

.score-value-container input {
    width: 50%;
    border: none;
    outline: none;
    text-align: right;
    color: grey;
    background: transparent;

}

#minValue{
    text-align: left;
}

.score-value-container input::-webkit-progress-inner-element,
input[type="number"]::-webkit-outer-spin-button 
{
    opacity: 1;
}


.knetscore-title-container{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.score-range-container{
    position: relative;
    display: inline-flex;

}

.score-class span{
    font-size: 1.2rem;
    font-weight: 500;
}



.filter-container{
    display: flex;
    align-items: center;
    margin-left: .5rem;
    font-size: 1rem;
}


.filter-tab{
    display: flex;
    align-items: center;
}

.filter-tab h5 {
    font-size: 1rem;
    margin:0rem;
    line-height:0
}

.view{
    display:none;
}

.active{
    display: flex;

}

#filters{
    margin: 0.5rem 0 ;
    width: 100%;
}

#knetScore-Form{
    display: flex;
    align-items: flex-start;
}

.distance{
    margin: 0 0.5rem;
}

.active-tabs{
    border-bottom: 1.5px solid black;
}

.filter-tabs{
    padding: .5rem 0;
    margin:  0 .75rem;
    cursor: pointer;
}